profiles {
    // The following settings are used by the denglab cluster. Please change them to fit your cluster.
    // ex. binding path for singularity and charliecloud, queue name, clusterOptions, time limit, etc.
    denglab_hmgu {
        singularity.runOptions = "--writable-tmpfs -B /project/genomics"
        process.executor       = 'slurm'
        process.cpus           = { check_max( 1 * task.attempt, 'cpus') }
        process.memory         = { check_max( 2.GB * task.attempt, 'memory') }
        process.queue          = 'cpu_p'
        process.clusterOptions = '-q cpu'
        process.time           = { check_max( 12.h * task.attempt, 'time') }
    }
    denglab_lrz {
        charliecloud.runOptions = "-b /dss -b /gpfs --no-passwd"
        queueSize=1
        process.executor       = 'slurm'
        process.cpus           = { check_max( 1 * task.attempt, 'cpus') }
        process.memory         = { check_max( 2.GB * task.attempt, 'memory') }
        process.queue          = 'serial_std'
        process.clusterOptions = '--clusters=serial'
        process.time           = { check_max( 12.h * task.attempt, 'time') }
    }
}
